.title {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}

#results-header {
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#index-body {
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(239, 250, 250);
    text-align: center;
    background-image: url("/static/images/rockingchair.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;;
}

#result-body {
    overflow: hidden;
    background-image: url("/static/images/headphones.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;;
    font-family: 'Raleway', sans-serif;
}

.results-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 75px;
    margin-bottom: -10px;
    color: rgb(68, 0, 0);
}

#movie-results {
    color: rebeccapurple;
}

#podcast-results {
    color: rgb(131, 8, 8);
}

/* #movie-sugg, #pod-sugg {
    font-size: 30px;
    text-decoration: underline;
    color: rgb(6, 105, 109);
} */

h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

h3 {
    font-size: 25px;
}

#music-header {
    color: rebeccapurple;
}

#movie-header {
    color: rgb(131, 8, 8)
}

#hobby-header {
    color: rgb(204, 102, 7)
}

#personality-header {
    color: rgb(1, 25, 134)
}

#misc-header {
    color: rgb(6, 105, 109)
}

form {
    text-align: center;
}

.radio {
    margin-right: 10px;
}

#hobbies, #music-container, #movie-container {
    text-align: center;
}

/* #hobbies {
    margin-left: 60px;
} */

.checkbox-container {
    display: inline-block;
    text-align: left;
}

.feature {
    margin-bottom: 50px;
}

#age {
    border-radius: 5px;
    width: 50px;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: black;
}

hr {
    width: 300px;
}

#submit, #back {
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#submit:hover, #back:hover, #submit:active, #back:active {
    box-shadow: 1px 2px rgba(0, 0, 0, 0.315);
}

#content, .results-container {
    background-color:rgba(255, 255, 255, 0.658);
    padding-top: 2px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}

.results-container {
    padding: 30px 30px 0 30px;
    margin-top: 60px;
}

/* .select2-results__option, .select2-results__mesage {
    display: none;
} */

/* https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 0 auto;
  top: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
#loadingDiv {
    position:absolute;;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgb(34, 0, 0);
}